<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <%- await include('@/layout/sections') %>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
  <!-- Fidelizar Mais - Fidelidade -->
  
      <script src='https://cdn.fidelizarmais.com/files/production/86d8f83c-5be7-408f-bac4-a5608383f7cb/6f0f0d3a-6b1c-4896-af28-f6d7aeb4312f/fidelidade/v2/js/sdk-basic.js?ver=637848440838064342' data-widget-host='https://widget.fidelizarmais.com' async defer type='text/javascript' charset='utf-8' data-partner='NmYwZjBkM2EtNmIxYy00ODk2LWFmMjgtZjZkN2FlYjQzMTJm' data-token='ODZkOGY4M2MtNWJlNy00MDhmLWJhYzQtYTU2MDgzODNmN2Ni' id='jswidgettradeidsdk'></script>
  

	<!-- NÃO REMOVER APPs NATIVOS - FG -->
  
      <!-- START OF FIDELIZAR MAIS APPs - NATIVES -->
<script>(function (d, s, u, i)
{
  var v = 'fm' + (new Date().getDate()); var fs = d.createElement(s), fso = d.getElementsByTagName(s)[0]; fs.src = u + v; fs.async = true; fs.charset = 'UTF-8'; fs.type = 'text/javascript'; fs.className = 'fmais-script-widget'; fs.dataset.token = i; fs.dataset.isProd = true; fso.parentNode.insertBefore(fs, fso); fs.onload = function () { FMC.init(); }
  fs.onerror = function () { setTimeout(function () { FMC.init(); }, 3000); }
}
(document, 'script', 'https://cdn.fidelizarmais.com/plugin/js/liCommon.js?ver=133057195416385032', 'MWY2NDhjOTQtYjRhYi00N2Q2LWFkYjYtYzkwZmZlYmIzNDhlOmNkMjg5OTA4LTU1OTMtNGY1OS1hZmY4LTFlYjY0NjMxY2QwNA=='));
</script>
<!-- END OF FIDELIZAR MAIS APPs - NATIVES -->
</body>

</html>
