<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <%- await include('@/layout/sections') %>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>

  <script src='https://cdns.fidelizarmais.com/files/production/86d8f83c-5be7-408f-bac4-a5608383f7cb/ecb674ed-2b1d-45b8-b49c-f0af2a4c5119/fidelidade/v2/js/sdk-basic.js?ver=638085317037877310' data-widget-host='https://widget.fidelizarmais.com' async='true' type='text/javascript' charset='utf-8' data-partner='ZWNiNjc0ZWQtMmIxZC00NWI4LWI0OWMtZjBhZjJhNGM1MTE5' data-token='ODZkOGY4M2MtNWJlNy00MDhmLWJhYzQtYTU2MDgzODNmN2Ni' id='jswidgettradeidsdk'></script>
  
</body>

</html>
