<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const apx_footer = _.cms('apx_footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
%>

<footer class="" id="bz-footer">
  <div class="container ">
    <div class="row py-md-5 px-3 py-4 px-md-0 justify-content-between">
      <% if (apx_footer.links) { %>
          <% apx_footer.links.forEach(({ title, list })=> { %>
            <div class="col-12 col-md-auto">
              <h4><%= title %></h4>
              <ul class="links">
                <% list.forEach(({ item })=> { %>
                  <li>
                    <a href="<%= item.url %>">
                      <%= item.title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            </div>
          <% }) %>
      <% } %>
      <div class="col-12 col-md-auto">
        <p class="footer__payment-methods">
          <% Object.keys(footer.payment_methods).forEach(method => { %>
            <% if (footer.payment_methods[method]) { %>
              <i class="pay-icon pay-icon--<%= method %>"></i>
            <% } %>
          <% }) %>
        </p>
        <div class="footer__stamps">
          <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
        </div>
      </div>
    </div>    
  </div>
  <div class="footer_credits mt-md-5 p-0">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span>
            <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <a href="https://www.alpix.dev?ref=sejabazico">
            <svg width="60" height="24 " viewBox="0 0 60 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_31_1263)"><path d="M43.7644 7.63232H40.1797V20.8159H43.7644V7.63232Z" fill="black"></path><path d="M20.7804 0H17.2144V20.8157H20.7804V0Z" fill="black"></path><path d="M31.1909 7.43409C30.0593 7.43289 28.9453 7.7138 27.9496 8.25141V7.66361H24.3687V27.9904H27.9496V20.2613C28.8632 20.7539 29.8771 21.0315 30.9142 21.0731C31.9513 21.1147 32.9842 20.9191 33.9343 20.5012C34.8844 20.0833 35.7266 19.4541 36.3968 18.6616C37.067 17.869 37.5476 16.934 37.8018 15.9277C38.0561 14.9214 38.0775 13.8704 37.8642 12.8546C37.6509 11.8388 37.2087 10.8851 36.5712 10.066C35.9337 9.24693 35.1177 8.58412 34.1853 8.12803C33.253 7.67194 32.2288 7.43461 31.1909 7.43409ZM31.1909 17.4865C30.5516 17.4865 29.9267 17.2969 29.3951 16.9416C28.8636 16.5864 28.4493 16.0816 28.2048 15.4909C27.9602 14.9002 27.8963 14.2503 28.0212 13.6233C28.146 12.9963 28.454 12.4204 28.9062 11.9685C29.3584 11.5165 29.9345 11.2089 30.5615 11.0844C31.1886 10.9599 31.8385 11.0241 32.429 11.269C33.0196 11.514 33.5242 11.9285 33.8791 12.4602C34.234 12.992 34.4233 13.617 34.4229 14.2563C34.4229 14.6807 34.3393 15.1009 34.1768 15.4929C34.0144 15.8849 33.7763 16.2411 33.4762 16.541C33.176 16.841 32.8197 17.0789 32.4276 17.2411C32.0355 17.4033 31.6153 17.4867 31.1909 17.4865Z" fill="black"></path><path d="M10.0448 20.7823H13.622V7.63043H10.0523V8.24623C9.0588 7.71375 7.94938 7.43431 6.82218 7.43263C6.07952 7.43117 5.34176 7.55287 4.63891 7.79278C3.28684 8.24921 2.11199 9.11824 1.2798 10.2775C0.44761 11.4368 0 12.8279 0 14.2549C0 15.6819 0.44761 17.073 1.2798 18.2323C2.11199 19.3915 3.28684 20.2606 4.63891 20.717C6.05482 21.1972 7.58954 21.1972 9.00545 20.717C9.36703 20.5968 9.71733 20.4451 10.0523 20.2636L10.0448 20.7823ZM6.82218 17.5653C6.18288 17.5656 5.55782 17.3764 5.02608 17.0215C4.49433 16.6666 4.07979 16.1619 3.83488 15.5714C3.58998 14.9808 3.52571 14.3309 3.6502 13.7039C3.7747 13.0768 4.08237 12.5008 4.5343 12.0486C4.98622 11.5964 5.5621 11.2884 6.1891 11.1635C6.8161 11.0387 7.46604 11.1025 8.05671 11.3471C8.64739 11.5917 9.15227 12.0059 9.50749 12.5375C9.86271 13.069 10.0523 13.694 10.0523 14.3333C10.0526 14.7576 9.96918 15.1778 9.80696 15.57C9.64474 15.9621 9.40685 16.3184 9.10688 16.6185C8.80692 16.9187 8.45075 17.1568 8.05873 17.3192C7.66671 17.4816 7.24653 17.5653 6.82218 17.5653Z" fill="black"></path><path d="M59.4352 7.66406L57.0803 10.9987H52.6895L55.0425 7.66406H59.4352Z" fill="black"></path><path d="M59.7565 20.8159H55.3377L52.6898 17.1995L50.1538 20.8159H45.7593L50.4766 14.1243L50.4953 14.0982L48.2915 10.9987L45.9216 7.66406H50.3404L52.6898 10.9987H52.6935L54.8973 14.1243H54.9066L59.7565 20.8159Z" fill="black"></path><path d="M20.7804 24.4341H17.2144V28.0001H20.7804V24.4341Z" fill="#FC5656"></path><path d="M40.1794 0H36.5947V3.58467H40.1794V0Z" fill="#B32FD3"></path><path d="M20.7804 24.4341H17.2144V28.0001H20.7804V24.4341Z" fill="url(#paint0_linear_31_1263)"></path><path d="M40.1794 0H36.5947V3.58467H40.1794V0Z" fill="url(#paint1_linear_31_1263)"></path></g><defs><linearGradient id="paint0_linear_31_1263" x1="17.2144" y1="13.9992" x2="40.1798" y2="13.9992" gradientUnits="userSpaceOnUse"><stop stop-color="#FC5656"></stop><stop offset="1" stop-color="#B32FD3"></stop></linearGradient><linearGradient id="paint1_linear_31_1263" x1="17.214" y1="13.9991" x2="40.1794" y2="13.9991" gradientUnits="userSpaceOnUse"><stop stop-color="#FC5656"></stop><stop offset="1" stop-color="#B32FD3"></stop></linearGradient><clipPath id="clip0_31_1263"><rect width="59.7563" height="28" fill="white"></rect></clipPath></defs></svg>
          </a>
          <%- await include('@/layout/inc/ecom-credits') %>
        </div>
      </div>     
    </div>
  </div>
</footer>
 

				

				