<%
// load header options and contacts from content
const header = _.cms('header') || {}
const apx_header = _.cms('apx_header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

%>

<div id="overlay" class="fade"></div>
<header class="header" id="header">
  <div class="container-fluid px-md-3 px-1">
    <div class="row align-items-center">
      <div class="col-md col d-block d-md-none" id="bz-mobile-functions">
        <div class="d-flex">
          <button type="button" onclick="$('#bz-menu').toggleClass('active')">            
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1H17M1 6H17M1 11H17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </button>
          <button
            class="d-lg-none btn btn-lg"
            id="mobile-search-btn"
            type="button"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-controls="search-bar"
            title="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/Search-Outline.svg"/>
          </button>
        </div>
      </div>
      <div class="col-md" id="bz-menu">
        <div class="d-flex justify-content-between align-items-center d-md-none bz-menu-header">
          <span>            
            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="8.5" x2="29" y2="8.5" stroke="black" stroke-width="3"/>
              <line y1="19.5" x2="29" y2="19.5" stroke="black" stroke-width="3"/>
              <path d="M21 0H25L7.5 27.5H4L21 0Z" fill="black"/>
            </svg>  
          </span>
          <button type="button" onclick="$('#bz-menu').toggleClass('active')">            
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L1 15M1.00001 1L15 15" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </button>
        </div>
        <% if (apx_header.links) { %>
          <ul class="level_1">
            <% apx_header.links.forEach(({ url, title, image, list })=> { %>
              <li class="<%= list ? 'dropdown' : ''%>">
                
                <a href="<%= url %>" data-image="<%= image ? image : 'empty' %>">
                  <%= title %>
                </a>
                <% if (list) { %>
                  <button type="button" onclick="$(this).closest('li').toggleClass('open')">                    
                      <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <line x1="0.353553" y1="0.646447" x2="3.35355" y2="3.64645" stroke="black"/>
                      <line y1="-0.5" x2="4.24264" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 6 1)" stroke="black"/>
                      </svg>  
                  </button>
                <% } %>
                
                <% if (list) { %>
                  <div class="level_2">
                    <ul class="">
                      <% list.forEach(({ item })=> { 
                        %>
                        
                        <li>
                          <a href="<%= item.url %>" data-image="<%= item.image ? item.image : 'empty' %>">
                            <%= item.title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                    <% if(image || list.find(el => el.image)){ %>
                    <div class="bz_dropbanner">
                      <% if (image){ %>
                      <img src="<%= image %>" data-original="<%= image %>"/>
                      <% } %>
                    </div>
                    <% } %>
                    
                    
                  </div>
                <% } %>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </div>
      <div class="col-auto" id="bz-logo">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col-md col" id="bz-functions">
       
        <div
          class="d-none d-lg-block collapse show"
          id="search-bar"
        >
          <form
            class="header__search mt-2 mt-md-3 mt-lg-0"
            id="search-form"
            action="/search"
            method="get"
          >
            <input
              type="search"
              name="term"
              placeholder="<%= _.dictionary('searchProducts') %>"
              aria-label="<%= _.dictionary('searchProducts') %>"
              class="header__search-input form-control"
              id="search-input"
            >
            <button
              type="submit"
              class="header__search-btn"
              aria-label="<%= _.dictionary('searchProducts') %>"
            >
              <img src="/assets/Search-Outline.svg"/>
            </button>
            <div id="instant-search">
              <!--
                `InstantSearch` should be open on input focus:
                https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
              -->
            </div>
          </form>

          <% if (_.settings.domain) { %>
            <script type="application/ld+json"><%-
              JSON.stringify({
                '@context': 'http://schema.org',
                '@type': 'WebSite',
                url: `https://${_.settings.domain}/`,
                potentialAction: {
                  '@type': 'SearchAction',
                  target: `https://${_.settings.domain}/search?term={search_term_string}`,
                  'query-input': 'required name=search_term_string'
                }
              })
            %></script>
          <% } %>
        </div>
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          

          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <img src="/assets/User-Outline.svg"/>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <img src="/assets/Cart-Outline.svg"/>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>
      </div>
    </div>
    <div id="login-modal">
      <!--
        `LoginModal` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
      -->
    </div>
    <div id="cart-quickview">
      <!--
        `CartQuickview` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
      -->
    </div>
  </div>    
</header>
<!--
<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
-->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div
          class="glide"
          data-wait-mutation="false"
          data-autoplay="4000"
          data-per-view="1"
          data-per-view-md="1"
          data-per-view-sm="1"
        >
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
          <% if (apx_header.stripe_slider) { %>
            <% apx_header.stripe_slider.forEach(({ text, url })=> { %>
              <li class="glide__slide">
              <% if (text) { %>
                <% if (url) { %>
                  <a
                    class="top-bar__countdown"
                    style="<%= marketingStripeStyle %>"
                    href="<%= url %>"
                  >
                    <%- text %>
                  </a>
                <% } else { %>
                  <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
                    <%- text %>
                  </div>
                <% } %>
              <% } %>
              </li>
            <% }) %>
          <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>